@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
:root {
    --main-font-style: 'Source Sans Pro', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* utilityclass */

.font {
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(98, 250, 204);
}

.center {
    text-align: center;
}

.primary-h {
    margin: 10px;
    font-size: 2.9rem;
}

.secondary-h {
    margin: 10px;
    font-size: 2.5rem;
}

.hover:hover {
    box-shadow: inset 85.3px 0 0 0 white;
    transition: ease-in-out 0.5s;
    color: brown;
    cursor: pointer;
}

i {
    color: rgb(253, 78, 145);
}


/* utility cass finish
 */

#nav-bar {
    display: flex;
    /* width: 100%; */
    align-items: center;
    /* height: 20%; */
    position: relative;
    top: 0px;
}

#nav-bar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.4;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.u {
    display: flex;
}

li {
    list-style: none;
}

.link {
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.3rem;
    /* font-family: 'Source Sans Pro', sans-serif; */
    display: block;
    padding: 9px 18px;
    /* color: white; */
    border-radius: 5px;
}

.link:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(0, 255, 242);
}

.logo {
    font-family: 'Poppins', sans-serif;
    color: rgb(253, 78, 145);
    font-size: 36px;
    margin: 0vh 5vh;
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.7px 81.95px;
    height: 444px;
}

#home::before {
    display: block;
    content: "";
    background: url(bg1.jpg) no-repeat center center/cover;
    position: absolute;
    opacity: 0.9;
    z-index: -1;
    width: 100%;
    height: 500px;
    top: 0px;
    left: 0px;
}

#home h1 {
    text-align: center;
}

#home p {
    text-align: center;
    font-size: 1.2rem;
    padding-bottom: 4px;
}

.btn-1 {
    padding: 6px;
    margin: 4px 0px;
    background-color: brown;
    border: 1px solid white;
    border-radius: 3px;
    /* transition: ease-in-out 0.3s; */
    /* box-shadow: inset 0 0 0 0 white; */
}

.service-con {
    width: 100%;
    border-top: 10px solid rgb(221, 214, 214);
    background-color: rgb(251, 251, 251);
}

#service {
    display: flex;
    /* margin: 40px; */
    /* border: 3px solid red; */
    position: relative;
    width: 100%
}

.flex {
    display: flex;
    width: 100%;
}

.box {
    border: 3px solid rgb(224, 218, 192);
    margin: auto;
    display: block;
    width: 60%;
    padding: 4px;
    margin: 9px;
    border-radius: 6px;
    background-color: rgb(224, 218, 192);
}

.pic {
    display: flex;
    justify-content: center;
}

#service .box img {
    height: 100px;
}

#client-section {
    height: 300px;
}

#client-section::before {
    content: "";
    background: url(bg.jpg) no-repeat center center/cover;
    position: absolute;
    opacity: 0.3;
    z-index: -1;
    width: 100%;
    height: 95.5vh;
    border-top: 4px solid rgb(221, 214, 214);
}

#client {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    /* height: 3.5em; */
}

.client-item {
    padding: 20px 2vw;
    /* height: 100%;
    position: absolute; */
}


/* #client-section h1 {
    margin-bottom: 20px;
} */

.client-item img {
    width: 95px;
}

#contact {
    position: relative;
}

#contact::before {
    content: "";
    background: url(contact.jpg) no-repeat center center/cover;
    position: absolute;
    opacity: 0.7;
    z-index: -1;
    width: 100%;
    height: 100%;
    border: 4px solid rgb(221, 214, 214);
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box label {
    font-size: 1.4rem;
    padding: 6px;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    font-size: 1rem;
}

footer {
    width: 100%;
    height: 30%;
    background: black;
    color: white;
    padding: 3vh;
}